run = "npm run dev"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]
entrypoint = "index.html"

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["sh", "-c", "npm run prod"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 4173
externalPort = 3002

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3001
